<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
    margin:0;
    background-color: #444442;
    padding-top: 100px;
    }

    .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    }

    .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 20px;
    }

    .navbar a:hover {
    background: #ddd;
    color: black;
    text-decoration: underline;
    }


    </style>
    {% block link %}{% endblock %}
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block h %}{% endblock %}
    </head>
    <body>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/request">Request</a>
            <a href="/results">Results</a>
        </div>
        
        {% block content %}{% endblock %}

        </body>
</html>