{% extends "base.html" %}
{% block back %}
backdrop-filter: blur(8px);
background-image: url("https://wallpaperaccess.com/full/1393720.jpg");
background-size: cover;
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}
{% block title %}Is this a Good Time?{% endblock %}
{% block content %}
<div class="container">

    <h1>Stock Market Prediction Tool</h1>
    <h2>Using TensorFlow ML, thousands of data points are analysed in order to create an accurate model to predict the projected stock value, and return whether that is above or below the current. This allows informed decisions on whether purchasing stock is a good idea, or a poor one.</h2>
    <div class="about">
      <h3>Who we are</h3>
      <h4>Hello There ☺️, <br><br>

        I couldn't help but notice that the Reddit™ Avatar of yours is indeed a Girl aka Women with yellowish Hair. <br><br>
        
        Now, I don't want to seem desperate, so I'm asking you nicely if you have an onlyfans ,m'lady? <br><br>
        
        I earn 7 figures and I have a 10/10 gf , I sex her a lot like a lot of times and she really loves me but the reddit Avatar of yours attracts my inner Beast , so I'm giving you a chance and would gladly pay you to offer your onlyfans my dear female stranger I met on Reddit. <br><br>
        
        Thanks ☺️💞.</h4>
    </div>


  </div>
  {% endblock %}