<!DOCTYPE html>
<html class="container">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mainpage.css') }}">
	<head class="row" >
        <title>Is this a Good Time?</title>

        <div class="navbar">
            <a href="#home">Home</a>
            <a href="#request">Request</a>
            <a href="#results">Results</a>
            <a href="#contact">Contact</a>
          </div>

        <h1>Is this a Good Time?</h1>
    </head>
	<header class="row">
			<h4 style="text-align:center">A simple yet powerful, influential, ground-breaking resource</h4>
    </header>
	<form class="row input-container" method="post">
        <div class="col-xs-12">
            <div class="styled-input wide">
                <input type="text" id="sname" name="sname" required />
                <label>Stock Ticker</label> 
            </div>
        </div>
        <div class="col-xs-12">
            <input type="submit" class="btn-lrg submit-btn">
        </div>
    </form>
</html>
