body {
    margin:0;
    background-color: #444442;
    padding-top: 100px;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #2d2d2d;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }